.WrapText {
	color : Blue;
	text-shadow : 3px 3px 5px red
}
BODY {
	font-family : Arial;
	font-size : 13px;
	margin-top : 2px;
}
TABLE {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
}

HR.Page {
	page-break-after : always;
}

	.Header {
	background : #1E90FF top;
	border : thin outset;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style : oblique;
	font-variant : normal;
	text-indent : 10px;
	margin-left : -7px;
	margin-right : -6px;
	height : 21px;
	padding-top : 1px;
	position : static;
}

	PRE.FnDefinition {
	letter-spacing : normal;
	line-break : strict;
	text-align : left;
	text-decoration : none;
	text-transform : none;
	font-family : "Courier New", Courier, monospace;
	font-size : 12px;
	font-style : normal;
	font-variant : normal;
	font-weight : bold;
	margin-left : 5px;
	background-color : #B0C4DE;
	border : thin outset;
	padding-left : 7px;
	padding-top : 5px;
	padding-right : 7px;
	padding-bottom : 5px;
}

	.Require {
	list-style-position : outside;
	list-style-type : square;
	color : #228B22;
	font-family : "MS Sans Serif", Geneva;
	font-size : 14px;
	font-weight : 900;
	text-decoration : underline;
}

	.FnDefParams {
	letter-spacing : normal;
	font-family : "Courier New", Courier, monospace;
	font-weight : bolder;
	font-size : 17px;
	margin-top : 10px;
}

	.FnDefParamsName {
	font-family : "Arial Black", Arial, Helvetica, sans-serif;
	font-weight : normal;
	font-size : 17px;
	font-style : italic;
	color : Blue;
	line-height : 18px;
}


	.FnDefName {
	font-weight : 900;
	font-size : 22px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-style : normal;
	font-variant : normal;
}
	.text {
		color: #9ACD32;
		margin-left: 11px;
		font-size: 28px;
		font-family: Arial Black
	}
	.highlight {
		margin-top: -38px;
		margin-left: 9px;
		color: #228B22;
		font-size: 28px;
		font-family: Arial Black
	}
	.ParamNameDesc {
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-weight: bold;
	color: #0063FF;
	font-size : 15px;
}



A:VISITED, A:LINK, A:ACTIVE, A:HOVER {
	color : Blue;
	font-family : sans-serif;
	font-style : normal;
	font-weight : 900;
	text-decoration : underline;
	word-break : break-all;
	font-size : 13px;
}

H6 {
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: 500;
	color: #0063FF;
	font-size : 17px;
	text-decoration : underline;
	display : block;
	margin-bottom : 2px;
	padding-bottom : 5px;
}

  @font-face {
    font-family: Xenotron;
    font-style:  normal;
    font-weight: normal;
    src: url(XENOTRO0.html);
  }

.CompileDate {
	color : #003B00;
	font-family : ""Ribit Flash"";
	font-size : 10px;
	font-style : normal;
	font-weight : normal;
	margin-top : -17px;
}

.Table{
	font-family : "Courier New", Courier, monospace;
	font-weight : bold;
	font-size : 16px;
}
HR {
	border : thick ridge #1E90FF;
}
PRE {
	word-wrap : break-word;
	word-break : keep-all;
	scrollbar-base-color : #2E8B57;
	scrollbar-face-color : Aqua;
	scrollbar-highlight-color : Blue;
	scrollbar-dark-shadow-color : Green;
	scrollbar-arrow-color : Yellow;
}
EM {
	color : #0000CD;
	font-family : sans-serif;
	font-weight : 900;
	text-decoration : underline;
	font-size : 13px;
	font-style : normal;
}
