/* Virtual select requires JavaScript */
#ntdoc-search-select {
    display: none;
}

/* Can be switched with JavaScript */
.ntdoc-code-element:not(:first-child) {
    display: block;
}

/* Accessed with JavaScript */
.ntdoc-description-title {
    display: block;
}

/* Can be switched with JavaScript */
.ntdoc-description:not(.ntdoc-description-selected) {
    display: block;
}
