body {
    /* For sticky footer: https://stackoverflow.com/a/34146411 */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px 10px;
    box-sizing: border-box;
}

.spacer {
    /* For sticky footer: https://stackoverflow.com/a/34146411 */
    flex: 1;
}

/* Virtual select customizations */
#ntdoc-search-select {
    height: 60px;
    width: 100%;
}
#ntdoc-search-select .ui-virtual-select--search-input {
    font-size: 1.6rem;
    /* fix width 100% to take padding into account */
    box-sizing: border-box;
    /* adjust margin added by water.css */
    margin-bottom: 0;
}
#ntdoc-search-select .ui-virtual-select--search-input:focus {
    /* adjust margin added by water.css */
    margin-bottom: 2px;
}
#ntdoc-search-select .ui-virtual-select--items {
    /* fix redundant scrollbar */
    box-sizing: content-box;
    overflow-y: auto !important;
    /* keep dropdown list on top */
    position: relative;
    z-index: 1;
    /* use water.css background color */
    background-color: var(--background-body);
}
#ntdoc-search-select .ui-virtual-select--item.active {
    /* use water.css background color */
    background-color: var(--background);
}
#ntdoc-search-select .ui-virtual-select--loading-indicator {
    /* use water.css background color */
    background-color: var(--background-body);
    /* without this, it's covered by other elements */
    position: relative;
}
#ntdoc-search-select:has(.ui-virtual-select--search-input:not(:focus)) .ui-virtual-select--loading-indicator {
    display: none !important;
}
#ntdoc-search-select:has(.ui-virtual-select--search-input:not(:focus)) .ui-virtual-select--search-input {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

header, footer {
    text-align: center;
}

header #ntdoc-search-select {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 7px;
}

/* dark-mode-toggle customizations */
footer dark-mode-toggle {
    display: inline-block;
    vertical-align: bottom;
    line-height: 0;
}
footer dark-mode-toggle::part(fieldset) {
    padding: 0;
}

a {
    text-decoration: underline;
}

.ntdoc-title-logo {
    width: 72px;
    height: 72px;
}

.ntdoc-code-elements {
    position: relative;
}

/* Can be switched with JavaScript */
.ntdoc-code-element:not(:first-child) {
    display: none;
}

.ntdoc-code-header, .ntdoc-code-footer {
    opacity: 0.6;
}

.ntdoc-code-control-buttons {
    position: absolute;
    right: 2px;
    top: 21px;
}

.ntdoc-code-control-buttons button {
    padding: 8px;
}

.ntdoc-code-elements .ntdoc-code-control-button-autohide {
    display: none;
}

.ntdoc-code-elements:hover .ntdoc-code-control-button-autohide {
    display: inline-block;
}

.ntdoc-description h1 {
    font-size: 2em;
    border-bottom: 1px solid var(--border);
}

/* Scrolling tables horizontally: https://stackoverflow.com/a/17776469 */
.ntdoc-description table {
    display: block;
    overflow-x: auto;
}

.ntdoc-description-none {
    font-style: italic;
}
