name: Generate static site

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 7 * * *'

concurrency:
  group: generate-static-site
  cancel-in-progress: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          path: main
      - name: Checkout winsiderss/systeminformer
        uses: actions/checkout@v5
        with:
          repository: winsiderss/systeminformer
          path: systeminformer
          fetch-depth: 0
          sparse-checkout: |
            phnt/include
      - name: Checkout m417z/windows-docs-scraper
        uses: actions/checkout@v5
        with:
          repository: m417z/windows-docs-scraper
          ref: gh-pages
          path: windows-docs
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r main/requirements.txt
      - name: Generate docs
        run: |
          commit=$(git -C systeminformer rev-list HEAD -- phnt/include | head -n 1)
          cd main
          python -u generate_docs.py \
            --path ../systeminformer/phnt/include \
            --commit $commit \
            --windows-docs-path ../windows-docs
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./main/docs
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
